/* Tried to set these in HTML and wouldn't get picked up; had to put them in body...
html {
  font-family: "Work Sans", sans-serif;
  background-color: rgb (255, 242, 242);
}
*/

html {
  font-size: 14px;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: rgb(255, 242, 242);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(32, 64, 86);
}

p {
  color: rgb(74, 74, 74)
}

.container {
  padding-top: 5.25rem;
}

.card {
  background-color: rgb(32, 64, 86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  height: 12.5rem;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
